#time{
  color: black;
  font-size: 7vh;
  font-family: 'Courier New', Courier, monospace;
}

.container{
  margin-top: 5%;
}

body{
  background: whitesmoke;
}


.today-date {
  height: 17vh;
  font-size: 7vh;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  line-height: 20.4vh;
  display: flex;
  justify-content: center;
}

.clock {
  height: 17vh;
  line-height: 20.4vh;
  display: flex;
  justify-content: center;
}
